.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;
  background: linear-gradient(to bottom, #00A6CF, #004E64);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
}

.app-col {
  width: 100%;
  padding: 1rem;
}

@keyframes fade-in {
  from {color: #FFFFFF00; left: -200px;}
  to {color: white; left: 0px;}
}

.col-1 {
  position: relative;
  animation: fade-in;
  animation-timing-function:ease-out;
  animation-duration: 1s;
  margin-bottom: 1rem;
}

.col-1 h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 3rem;
}

.col-2 {
  background-color: #004E64;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
